mastodon_address = 'https://mastodon.social'
mastodon_access_token = ''
visibility_options = {
    'direct': False,
    'private': False,
    'unlisted': True,
    'public': True
    }
my_name = "Yuri Nator"