<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>
        p { margin: 0px }
        div { padding-bottom: 30px }
	</style>

	
	<title>{{ my_name }}'s Fedi archive</title>
</head>
<body>
<h2>{{ my_name }}'s Fedi posts</h2>
Toots here: <b>{{ statuses_total }}</b>; generation date: <b>{{ generated_time }}</b>; duration of API calls: <b>{{ creation_duration }}</b><br />
User <a href={{ me['url'] }}>{{ me['username'] }}</a> with ID <b>{{ me['id'] }}</b> has written <b>{{ me['statuses_count'] }}</b> total statuses since <b>{{ me['created_at_formatted'] }}</b>.<br /><br />
{% for status in statuses_out %}
<div>
	{% if status.spoiler_text is defined and status.spoiler_text|length %}	
	<em>CW: {{ status.spoiler_text }}</em>
	{% endif %}
	{% if status.content is defined and status.content|length %}
	{{ status.content }}
	{% else %}
	<p><em>Toot has no text content</em></p>
	{% endif %}
	{% if status.poll is defined %}
	<em>Poll:</em>
		<ul>
		{% for option in status.poll.options %}
		<li>{{ option.title }}: {{ option.votes_count }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<small>↩️ {{status.replies_count or 0}} ⭐ {{status.favourites_count or 0}} 🔄 {{status.reblogs_count or 0}} <a href='{{status.url}}'>{{status.created_at}}</a></small>
	{% if status.media_attachments is defined %}🖼️{% endif %}
</div>
{% endfor %}
</body>
</html>