<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>
        p { margin: 0px }
        div { padding-bottom: 30px }
	</style>

	
	<title>{{ dummer_name }}'s Fedi archive</title>
</head>
<body>
	<h2>{{ dummer_name }}'s Fedi archive</h2>
    <b>Toots here: {{ statuses_total }}; generation date: {{ generated_time }}; duration of API calls: {{ creation_duration }}</b><br />
	User <a href={{ me['url'] }}>{{ me['username'] }}</a> with id {{ me['id'] }} has written {{ me['statuses_count'] }} total statuses since {{ me['created_at'] }}.<br /><br />
    {% for status in statuses_out %}
	<div class="toot">
		{% if status.spoiler_text is defined and status.spoiler_text|length %}
			<em>{{ status.spoiler_text }}</em>
		{% endif %}
		{% if status.content is defined and status.content|length %}
			{{ status.content }}
		{% else %}
			<p><em>Toot has no text content</em></p>
		{% endif %}
		{% if status.poll is defined %}
		Poll:
			{% for option in status.poll.options %}
			{{ option.title }}: {{ option.votes_count }}<br />
			{% endfor %}
		{% endif %}
		<small>⮌ {{status.replies_count or 0}} ★ {{status.favourites_count or 0}} ⭯ {{status.reblogs_count or 0}}  </small>
		{% if status.media_attachments is defined %}
			🖼️
		{% endif %}
		<br />
		<small><a href='{{status.url}}'> {{status.created_at}}</a></small>
			</div>
	{% endfor %}

</body>
</html>